# dependencies
node_modules/

# next.js
.next/
out/

# environment
.env
.env.local
.env.*.local

# misc
*.tsbuildinfo
next-env.d.ts

# vercel
.vercel

# drizzle
drizzle/meta/
.claude/
_ul
_ul-*
.streamlit/
